
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: aliceblue;
}
#list{
    margin-right: 10px;
    margin-top: 12px;

}
#list1{
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 10px;

}
.brand img{
    width: 45px;
    padding:0 8px;
}
.container{
    min-height: 75vh;
    background-color:black;
    color:rgb(243, 230, 211);
    font-family: 'Varela Round';
    display: flex;
    margin:25px auto;
    width:80%;
    border-radius: 15px;
    padding:20px;
    background-image: url('Assets/images/background.jpg');

}
.Bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 13px;
}
.icons i{
    cursor: pointer;
    padding: 0 3px;
}

#ProgressBar{
    cursor: pointer;
    width: 80vw;
}
.songItem img{
    width:43px;
    margin:0 13px;
    /* padding-right: ; */
    border-radius: 34px;


}
.songItem{
    height:50px;
    width:80%;
    background-color: rgb(243, 217, 184);
    display: flex;
    border-radius: 20px;
    font-weight: bolder;
    color: black;
    margin:15px 0px;
    align-items: center;
    justify-content: space-between;
}
.songItem i{
    cursor: pointer;
    padding-right: 5px;

}
.SIcontainer{
    margin : 20px 0;
}
